## AUTO-DETECT
## Handle line endings automatically for files detected as
## text and leave all files detected as binary untouched.
## This will handle all files NOT defined below.
* text=auto

## SOURCE CODE
*.css  text
*.html text
*.js   text
*.json text
*.sass text
*.scss text

## DOCUMENTATION
*.md         text
AUTHORS      text
CHANGELOG    text
CONTRIBUTING text
INSTALL      text
LICENSE      text
TODO         text

## TEMPLATES
*.handlebars text
*.hbs        text

## LINTERS
.eslintrc text

## CONFIGS
.editorconfig  text
.gitattributes text
.gitignore     text
