### Node ###
# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

### Code ###
# Visual Studio Code - https://code.visualstudio.com/
.settings/
.vscode/
tsconfig.json
jsconfig.json

### JSON Resume ###
_resumes/
dist/
src/themes/*
!src/themes/basic
