* {
  margin: 0;
  padding: 0;

  &, &::before, &::after {
    box-sizing: inherit;
  }
}

html {
  box-sizing: border-box;
  min-height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  line-height: 1.5;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  @media print {
    font-size: 0.75em;
  }
}

h1, h2 {
  margin-bottom: 0.5em;
}

li {
  margin-left: 1.5em;
}

header {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #ccc;
}

section {
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid #ccc;

  &:last-of-type {
    border-bottom: 0;
  }
}

.container {
  max-width: 90%;
  margin: 0 auto;

  @media (min-width: 600px) {
    max-width: 845px;
    padding: 1rem;
  }

  @media print {
    max-width: 100%;
    padding: 0;
  }
}

.margin-top {
  margin-top: 0.5em;
}

.align-right {
  display: block;
  @media (min-width: 630px) {
    float: right;
  }
}

.text-center {
  text-align: center;
}

.page-break {
  @media print {
    page-break-after: always;
  }
}
