<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{basics.name}} - Resume</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>

<div class="container">

{{> header}}
{{> work}}
{{> education}}
{{> volunteer}}
{{> languages}}
{{> skills}}

</div>

</body>
</html>
